<nav>
  <a href="#">Alyson</a>
  <div class="translate-menu">
    <button (click)="toggleMenu()" class="menu-btn">Langue</button>
    <div [ngClass]="{ 'dropdown-content': true, open: isMenuOpen }">
      <button (click)="switchLang('fr')" class="lang-btn">FR</button>
      <button (click)="switchLang('en')" class="lang-btn">EN</button>
    </div>
  </div>
</nav>
<div class="nav-menu">
  <ul>
    <li>
      <a class="nav-link" href="#About">
        <i class="fas fa-home" aria-hidden="true"></i>
        <span class="sr-only">A propos</span>
      </a>
    </li>
    <li>
      <a class="nav-link" href="#Skills"
        ><i class="fas fa-cogs" aria-hidden="true"></i>
        <span class="sr-only">Compétences</span></a
      >
    </li>
    <li>
      <a class="nav-link" href="#Projects"
        ><i class="fas fa-briefcase" aria-hidden="true"></i>
        <span class="sr-only">Projets</span></a
      >
    </li>
    <li>
      <a class="nav-link" href="#Contacts"
        ><i class="fas fa-phone-alt" aria-hidden="true"></i>
        <span class="sr-only">Contacts</span></a
      >
    </li>
  </ul>
</div>
