<nav>
  <a href="#">Alyson</a>
  <div class="translate-menu">
    <button (click)="toggleMenu()" class="menu-btn">Langue</button>
    <div [ngClass]="{ 'dropdown-content': true, open: isMenuOpen }">
      <button (click)="switchLang('fr')" class="lang-btn">FR</button>
      <button (click)="switchLang('en')" class="lang-btn">EN</button>
    </div>
  </div>
</nav>
<div class="nav-menu">
  <ul>
    <li>
      <a class="nav-link" href="#About"><i class="fas fa-home"></i></a>
    </li>
    <li>
      <a class="nav-link" href="#Skills"><i class="fas fa-cogs"></i></a>
    </li>
    <li>
      <a class="nav-link" href="#Projects"><i class="fas fa-briefcase"></i></a>
    </li>
    <li>
      <a class="nav-link" href="#Contacts"><i class="fas fa-phone-alt"></i></a>
    </li>
  </ul>
</div>
