nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 100px;

  a {
    text-decoration: none;
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: 0.4s;
    font-size: 30px;
  }

  .translate-menu {
    position: relative;
    display: inline-block;
  }

  .menu-btn {
    background-color: var(--icon-color);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--icon-hover-color);
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;

    .lang-btn {
      background-color: transparent;
      color: black;
      padding: 10px 20px;
      border: none;
      width: 100%;
      text-align: left;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--icon-hover-color);
        color: white;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .open {
    display: block;
  }
}
.nav-menu {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  transition: 0.4s;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  font-size: var(--icon-size);
  color: var(--icon-color);

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(10px);
    width: 30%;
    background-color: hsla(180, 15%, 10%, 0.8);

    li {
      padding: 0.7rem;
    }

    .nav-link {
      color: var(--text-color);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: inherit;
      color: var(--icon-color);
      transition: color 0.3s ease;
      text-decoration: none;
      &:hover {
        color: var(--icon-hover-color);
      }

      i {
        font-size: inherit;
      }
    }
  }
}
