@use "@angular/material" as mat;

.card {
  box-sizing: border-box;
  margin: 20px auto;
  padding: 4rem 1rem 1rem 1rem;
  text-align: center;
  background-color: var(--container-color);
  border-radius: 1.25rem;
  @media (max-width: 1024px) {
  }

  img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    @media (max-width: 480px) {
      height: 100px;
    }
  }
  h2 {
    margin-bottom: 0;
  }

  .progress-bar {
    @include mat.progress-bar-overrides(
      (
        active-indicator-color: var(--title-color),
        track-color: var(--icon-color),
        active-indicator-height: 10px,
        track-height: 10px,
      )
    );

    border-radius: 4px;
  }
}
