@use "@angular/material" as mat;

.card {
  box-sizing: border-box;
  margin: 20px auto;
  padding: 4rem 1rem 1rem 1rem;
  text-align: center;
  background-color: var(--container-color);
  border-radius: 1.25rem;
  height: 500px;
  z-index: 1;

  img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    @media (max-width: 480px) {
      height: 100px;
    }
  }

  h2 {
    margin-bottom: 0;
    font-size: 25px;
  }

  p {
    height: 110px;
  }

  .progress-bar {
    border-radius: 4px;

    @include mat.progress-bar-overrides(
      (
        active-indicator-color: var(--title-color),
        track-color: var(--icon-color),
        active-indicator-height: 10px,
        track-height: 10px,
      )
    );
  }
}
