.project-card {
  box-sizing: border-box;
  width: 50%;
  margin: 20px auto;
  padding-bottom: 10px;
  border-radius: 1.25rem;
  text-align: center;
  background-color: var(--container-color);
  img {
    width: 100%;
  }
  h2 {
    margin-bottom: 0;
    color: var(--first-color);
  }
  p {
    font-weight: 300;
    font-size: 16px;
    text-align: start;
    padding: 10px 30px;
    color: var(--text-color);
  }
  button {
    box-sizing: border-box;
    padding: 15px 50px;
    border: none;
    border-radius: 30px;

    margin-right: 20px;
    outline: none;
    font-size: 14px;
    font-weight: 500;

    &:active {
      transform: translate(1px, 1px);
      box-shadow: lightgray 0 0 5px;
    }
  }
}
