<app-header></app-header>
<main>
  <app-banner></app-banner>
  <section id="Skills">
    <h1>Mes compétences</h1>
    <div class="card-container">
      @for (skill of skills; track skill.title) {
      <app-card class="cards" [data]="skill" />
      }
    </div>
  </section>
  <section id="Projects">
    <h1>Mes projets</h1>
    <div class="card-container1">
      @for (project of projects; track project.title) {
      <app-card [data]="project" />
      }
    </div>
  </section>
  <section id="Contacts">
    <h1>Contact</h1>
    <div class="card-container">
      @for (contact of contacts; track contact.title) {
      <app-card class="cards" [data]="contact" />
      }
    </div>
  </section>
</main>
<app-footer></app-footer>
