<app-header></app-header>
<app-banner></app-banner>

<main>
  <section id="Skills">
    <div class="heading1">
      <h1>{{ "SKILLS.TITLE" | translate }}</h1>
      <div class="sub-heading">
        <span>{{ "SKILLS.SUB" | translate }}</span>
        <h2>{{ "SKILLS.TITLE" | translate }}</h2>
      </div>
    </div>

    <div class="skill-container">
      @for (skill of skills; track skill.title) {
      <app-skill-card class="cards" [data]="skill" />
      }
    </div>
  </section>

  <section id="Projects">
    <div class="heading1">
      <h1>{{ "PROJECTS.TITLE" | translate }}</h1>
      <div class="sub-heading">
        <span>{{ "PROJECTS.SUB" | translate }}</span>
        <h2>{{ "PROJECTS.TITLE" | translate }}</h2>
      </div>
    </div>
    <div class="project-container">
      @for (project of projects; track project.title) {
      <app-project-card class="project-cards" [data]="project" />
      }
    </div>
  </section>

  <section id="Contacts">
    <div class="heading1">
      <h1>{{ "CONTACT.TITLE" | translate }}</h1>
      <div class="sub-heading">
        <span>{{ "CONTACT.SUB" | translate }}</span>
        <h2>{{ "CONTACT.TITLE" | translate }}</h2>
      </div>
    </div>
    <app-forms></app-forms>
  </section>
</main>

<app-footer></app-footer>
