<app-navbar></app-navbar>
<main>
  <h1 id="Skills">Mes compétences</h1>
  <div class="card-container">
    @for (skill of skills; track skill.title) {
    <app-card class="cards" [data]="skill" />
    }
  </div>
  <h1 id="Projects">Mes projets</h1>
  <div class="card-container">
    @for (project of projects; track project.title) {
    <app-card [data]="project" />
    }
  </div>
  <h1 id="Contacts">Contact</h1>
  <div class="card-container">
    @for (contact of contacts; track contact.title) {
    <app-card class="cards" [data]="contact" />
    }
  </div>
</main>
<footer></footer>
