<div class="banner">
  <div class="presentation">
    <section id="About">
      <div class="about-container">
        <h1>
          Alyson Laville <br />
          <span>Testeuse Logiciel</span>
        </h1>
        <p>
          À 29 ans, j'ai effectué une reconversion professionnelle dans le
          domaine du test logiciel grâce à une formation certifiante
          OpenClassrooms. Cette formation m’a permis de décrocher un diplôme de
          développeur intégrateur web tout en me spécialisant dans
          l’automatisation des tests et la gestion de la qualité logicielle.
          <br /><br />Mon alternance de 18 mois m’a offert une expérience
          concrète en tant que testeur logiciel, où j’ai pu mettre en pratique
          mes compétences pour garantir la fiabilité des applications tout au
          long de leur cycle de vie. Bien que mon expertise principale soit dans
          les tests logiciels, mes connaissances en développement web viennent
          compléter mes compétences pour une approche complète de la qualité.<br /><br />
          Curieuse, méthodique et passionnée par les défis techniques, je suis
          prête à relever de nouveaux projets, alliant expertise en tests et
          développement pour livrer des applications de haute qualité.
        </p>
      </div>
      <img src="/profil-picture.jpg" alt="Photo de profil" />
    </section>
  </div>
</div>
