header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: 0.4s;

  &.scrolled {
    box-shadow: 1em 1em 10em 0.1em rgba(47, 79, 79, 0.8);
    background: linear-gradient(#1e2b2b, 85%, rgba(74, 90, 90, 0.8));
  }
}
