<div class="contact-container">
  <h2>Contactez-moi</h2>
  <div class="contact-detail-item">
    <i class="fa-regular fa-envelope"></i>
    <a href="mailto:alyson.alville@gmail.com">alyson.alville&#64;gmail.com</a>
  </div>
  <div class="contact-detail-item">
    <i class="fa-solid fa-phone-flip"></i>
    <a href="tel:+33642614975">06 42 61 49 75</a>
  </div>
  <div class="contact-detail-item">
    <i class="fa-brands fa-linkedin __social-icon"></i>
    <a
      href="https://www.linkedin.com/in/alysonlaville/"
      target="_blank"
      rel="noreferrer"
      >Alyson Laville</a
    >
  </div>
  <form action="https://formspree.io/f/xblglrpz" method="POST">
    <label for="name">Nom :</label>
    <input id="name" type="text" name="name" />
    <label for="email">Email :</label>
    <input id="email" type="email" name="email" />
    <label for="message">Message :</label>
    <textarea id="message" rows="4" name="message"></textarea>
    <button type="submit">Envoyer</button>
  </form>
</div>
