@mixin input-style {
  padding: 20px;
  margin-top: 10px;
  border: 1px solid var(--container-color);
  border-radius: 5px;
  font-family: var(--body-font);
}

.contact-container {
  margin: auto;
  padding: 30px;
  border-radius: 1.25rem;
  background: var(--container-color);

  .links-contact {
    display: flex;
    gap: 10%;
    color: var(--icon-hover-color);
    justify-content: flex-start;

    i {
      color: var(--btn-bg-color);
    }
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  h2 {
    text-align: center;
  }

  .contact-detail-item {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;

    a {
      color: var(--text-color);
      padding-left: 10px;
      text-decoration: none;
      font-size: 20px;
      @media (max-width: 480px) {
        font-size: 18px;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      margin-top: 10px;
      color: var(--text-color);
    }

    input,
    textarea {
      @include input-style;
    }

    .error {
      color: var(--body-color);
      font-size: 12px;
      margin-top: 5px;
    }

    button {
      margin-top: 15px;
      padding: 10px;
      background: var(--btn-bg-color);
      color: white;
      border: none;
      border-radius: 4rem;
      cursor: pointer;
      font-family: var(--body-font);
      font-size: 16px;

      &:disabled {
        background: #ccc;
        cursor: not-allowed;
      }
    }
  }
}
