::-webkit-scrollbar {
  width: 15px; /* Pour la barre verticale */
  height: 8px; /* Pour la barre horizontale */
}

/* Couleur de fond de la scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Couleur de la barre de défilement */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Changement de couleur au survol */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  overflow-x: hidden;
  margin: auto;
}

h1 {
  font-size: 60px;
  @media (max-width: 480px) {
    font-size: 30px;
  }
}

h2 {
  font-size: 30px;
  @media (max-width: 480px) {
    font-size: 20px;
  }
}

h1,
h2,
h3 {
  color: var(--title-color);
}

p {
  font-weight: 300;
  font-size: 16px;
  text-align: start;
  padding: 10px 30px;
  color: var(--text-color);
}

:root {
  --header-height: 3.5rem;
  --first-color: #d27c5e; /* Terre cuite */
  --first-color-alt: #b0634e; /* Brique douce */
  --title-color: #2b2b2b; /* Noir profond */
  --text-color: #4f4f4f; /* Gris anthracite */
  --text-color-light: #7a7a7a; /* Gris doux */
  --body-color: #f3ede7; /* Beige clair */
  --container-color: #e7d8cc; /* Nude sable */
  --body-font: "Montserrat", sans-serif;
  --icon-color: #a48c7d; /* Taupe */
  --icon-hover-color: #2b2b2b; /* Noir profond */
  --icon-size: 24px;
  --btn-bg-color: hsla(20, 50%, 40%, 0.8); /* Brun terre cuite translucide */
  --btn-hover-color: #2b2b2b; /* Noir profond */
  --btn-text-color: #fff;
}

html {
  scroll-behavior: smooth;
}
