::-webkit-scrollbar {
  width: 15px; /* Pour la barre verticale */
  height: 8px; /* Pour la barre horizontale */
}

/* Couleur de fond de la scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Couleur de la barre de défilement */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Changement de couleur au survol */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--title-color);
}

p {
  font-weight: 300;
  font-size: 16px;
  text-align: start;
  padding: 10px 30px;
  color: var(--text-color);
}

:root {
  --header-height: 3.5rem;
  --first-color: #2f4f4f;
  --first-color-alt: #3a6351;
  --title-color: #f5f5dc;
  --text-color: #ceceb3;
  --text-color-light: #b5b5a1;
  --body-color: #1e2b2b;
  --container-color: #4a5a5a;
  --body-font: "Montserrat", sans-serif;
  --icon-color: #a0a08b;
  --icon-hover-color: #f5f5dc;
  --icon-size: 24px;
  --btn-bg-color: hsla(180, 15%, 10%, 0.8);
  --btn-hover-color: #f5f5dc;
  --btn-text-color: #fff;
}

html {
  scroll-behavior: smooth;
}
